<?if(isset(${page})){
$html = array();
$html[] = '<nav class="sarah-paging"><ul>';

if ( ${page.style} == PAGE_STD_STYLE ) {
    $html[] = '<li><a>总记录：'.${page}['total'].'</a></li>';
    $html[] = '<li><a>'.${page}['pageno'].'/'.${page}['pages'].'</a></li>';

    if ( ${page}['pageno'] > 1 ) {
        $html[] = '<li><a class="link" href="'.${page}['link'].'1">首页</a></li>';
    } else {
        $html[] = '<li class="disabled"><a class="link">首页</a></li>';
    }
}

if ( ${page}['pageno'] > 1 ) {
    $html[] = '<li class="preview-page"><a class="link" href="'.${page}['link'].(${page}['pageno']-1).'">&lt;&lt;上一页</a></li>';
} else {
    $html[] = '<li class="preview-page disabled"><a class="link">&lt;&lt;上一页</a></li>';
}

if ( ${page.style} == PAGE_SHOP_STYLE ) {
    //start quick two handle
    $_start = ${page}['pageno'] - ${page}['offset'];
    if ( $_start <= 0 ) $_start = 1;

    $_end = 4;
    if(${page}['pages'] <= $_end) {
        for ( $i = 1; $i <= ${page}['pages']; $i++ ) {
            if(${page}['pageno'] == $i){
                $html[] = '<li class="number active"><a class="link" href="'.${page}['link'].$i.'">'.$i.'</a></li>';
            }else{
                $html[] = '<li class="number"><a class="link" href="'.${page}['link'].$i.'">'.$i.'</a></li>';
            }
        }
    }else if((${page}['pageno'] <= ${page}['pages'] - $_end) == 1){
        $pageno_v2 = ${page}['pageno'] + 1;
        $html[] = '<li class="number active"><a class="link" href="'.${page}['link'].${page}['pageno'].'">'.${page}['pageno'].'</a></li>';
        $html[] = '<li class="number"><a class="link" href="'.${page}['link'].$pageno_v2.'">'.$pageno_v2.'</a></li>';
        $html[] = '<li class="number"><a class="link">...</a></li>';
        $html[] = '<li class="number"><a class="link" href="'.${page}['link'].${page}['pages'].'">'.${page}['pages'].'</a></li>';
    }else{
        for ( $i = ${page}['pages'] - $_end+1; $i <= ${page}['pages']; $i++ ) {
            if($i == ${page}['pageno']){
                $html[] = '<li class="number active"><a class="link" href="'.${page}['link'].$i.'">'.$i.'</a></li>';
            }else{
                $html[] = '<li class="number"><a class="link" href="'.${page}['link'].$i.'">'.$i.'</a></li>';
            }

        }
    }
}

if ( ${page}['pageno'] < ${page}['pages'] ) {
    $html[] = '<li class="next-page"><a class="link" href="'.${page}['link'].(${page}['pageno']+1).'">下一页&gt;&gt;</a></li>';
} else {
    $html[] = '<li class="next-page disabled"><a class="link">下一页&gt;&gt;</a></li>';
}

if ( ${page.style} == PAGE_STD_STYLE ) {
    if ( ${page}['pageno'] < ${page}['pages'] ) {
        $html[] = '<li><a href="'.${page}['link'].${page}['pages'].'">尾页</a></li>';
    } else {
        $html[] = '<li class="disabled"><a>尾页</a></li>';
    }
}

if ( ${page.style} == PAGE_SHOP_STYLE ) {
    $html[] = '<li class="total-number"><a class="link">共'.${page}['pages'].'页</a></li>';
}
$html[] = '<li class="link-page"><a>';
$html[] = '<div>';
$html[] = '<span class="">到第</span>';
$html[] = '<input class="appoint-page" id="input-pageno" type="text" value="'.${page}['pageno'].'"
                  oninput="pagingLimit(this,'.${page}['pages'].','.${page}['pageno'].')">';
$html[] = '<span>页</span>';
$html[] = '<span>';
$html[] = '<button class="btn btn-cancel page-btn" type="button" data-link="'.${page.link}.'" onclick="pagingLink(this)">确定</button>';
$html[] = '</span>';
$html[] = '</div>';
$html[] = '</a></li>';
$html[] = '</ul></nav>';
echo implode("\n", $html);
}?>
