/*禁用鼠标左键选择文字*/
*{box-sizing: border-box;}
html,body{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
ul,li{margin: 0;padding: 0;}
body {background: #060606;}
.win-body{
    position: fixed;left: 0;top: 0;bottom: 0;right: 0;overflow: hidden;width: 100%;height:100%;color: #333;
    background: url(/static/image/desktop/default-bg.jpg) no-repeat center center;
}
.win-ul{
    width:100%; height: 100%;padding-top: 10px;padding-left: 10px;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-lr;
}
.win_list, .win_list_2{
    float: left;
    list-style: none;
    width: 90px;
    height: 100px;
}
.win-list-div{
    width: 90px;
    max-height: 100px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #444040;
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    overflow: hidden;
}
.win-list-div:hover{
    background-color: rgba(255,255,255,0.1) !important;border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.win-icon{background-image: url("/static/image/desktop/icon-desktop.png");}
.win-icon-v2{
    width:50px;
}
.box_1{margin: 0 0 5px 20px;background-position: -5px -65px;width: 50px;height:50px;}
.box_2{margin: 0 0 5px 20px;background-position: -5px -5px;width: 50px;height:50px;}
.box_3{margin: 0 0 5px 20px;background-position: -65px -5px;width: 50px;height:50px;}
.box_4{margin: 0 0 5px 20px;background-position: -130px -125px;width: 50px;height:50px;}
.box_5{margin: 0 0 5px 20px;background-position: 55px -5px;width: 50px;height:50px;}
.box_6{margin: 0 0 5px 20px;background-position: 115px -5px;width: 50px;height:50px;}
.box_7{float: left;margin: 0 0 5px 20px;background-position: 115px -65px;width: 50px;height:50px;}
.box_7:hover{background-position: 55px -65px;}
.box_8{background-position: -19px -140px;}
.box_9{background-position: -60px -140px;}
.box_10{background-position: -100px -140px;}
.box_11{margin: 0 0 5px 20px;background-position: 105px -125px;width: 50px;height: 50px;}
.box_12{
    margin: 0 0 5px 20px;background-position: -245px -125px;width: 50px;height:50px;
}
.win-footer-img{width: 50px;height: 50px;background-image: url("/static/image/desktop/icon-desktop.png");
    -webkit-transform: scale(0.5,0.5);
       -moz-transform: scale(0.5,0.5);
        -ms-transform: scale(0.5,0.5);
         -o-transform: scale(0.5,0.5);
            transform: scale(0.5,0.5);}
.win-footer-img-v2{width:25px;}

.win-name{width: 100%;text-align: center;color: #fff;overflow: hidden;word-break: break-all;}
.win-page{
    position: fixed;top: 50%;left: 50%;width: 0px; height: 0px;background-color: #fff;overflow: hidden;
    -webkit-box-shadow: #b9b8b8 0 0 10px;
       -moz-box-shadow: #b9b8b8 0 0 10px;
            box-shadow: #b9b8b8 0 0 10px;
}
.resize-left{position: absolute;top: 0;left: 0;bottom: 0;width: 4px;cursor: w-resize;z-index:3}
.resize-top{position: absolute;top: 0;left: 0;right: 0;height: 4px;cursor: n-resize;z-index:3}
.resize-right{position: absolute;top: 0;bottom: 0;right: 0;width: 4px;cursor: e-resize;z-index:3}
.resize-bottom{position: absolute;bottom: 0;left: 0;right: 0;height: 10px;cursor: s-resize;z-index:3}
.win-page-title{
    position: absolute;top: 0;left: 0;width: 100%;height: 50px;z-index: 2;
    line-height:50px;background-color: #eee;padding-right: 5px;
}
.win-title-name{
    float: left;padding-left: 15px;
}
.win-title-img{
    display: inline-block;width: 25px;height: 25px;padding: 5px;cursor: pointer;background-image: url("/static/image/desktop/icon-desktop.png");vertical-align: middle;
}
.win-title-img:hover{
    background-color: #ddd;
}
.win-title-min{background-position: -97px -78px;}
.win-title-max{background-position: -127px -78px;}
.win-title-close{background-position: -68px -78px;}
.win-page-content{
    position: absolute;left: 0;top: 50px;bottom:0;right: 0;overflow: hidden;z-index: 1;
}
.cover-iframe{
    display: none;position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0);
}
.win-page-src{
    width: 100%;height: 100%;
}
.win-footer{
    position: fixed;bottom: 0;left: 0;width: 100%;height: 50px;
    background-color: rgba(18,19,19,0.6);
}
.win-footer-li{
    display: inline-block;list-style: none;width: 50px;height: 50px;line-height: 49px;
    margin-right: 2px;text-align: center;overflow-x: auto;overflow-y: hidden;
}
.win-footer-li:hover{
    background-color: rgba(165, 164, 164, 0.2);padding: 0;
}
.win-footer-li-active{
    background-color: rgba(189, 189, 189, 0.3);
}
.win-footer-line{
    width: 40px;height: 3px;background-color: rgba(16, 164, 240, 0.58);margin-top: -3px;margin-left: 5px;
}
.win-footer-li-active .win-footer-line,.win-footer-li:hover .win-footer-line{width: 50px;;margin-left: 0;}
.desktop-iframe-back, .desktop-iframe-forward, .desktop-iframe-refresh{display: inline-block;width: 30px;height: 30px;text-align: center;line-height: 30px;color: #888;cursor: default;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;}
.desktop-iframe-back:hover, .desktop-iframe-forward:hover, .desktop-iframe-refresh:hover{background-color: rgba(200,200,200,0.7);}
.win-footer-list{float: left;margin-left: 10px;}
.win_start{width: 50px;height: 50px;background-image: url("/static/image/desktop/icon-desktop.png");margin-left: 5px;
    -webkit-transform: scale(0.45,0.45);
       -moz-transform: scale(0.45,0.45);
        -ms-transform: scale(0.45,0.45);
         -o-transform: scale(0.45,0.45);
            transform: scale(0.45,0.45);}
.win-start-dialog{display: none;position: fixed;left: 0;bottom: 45px;width: 200px;background-color: rgba(0,0,0,0.8);color: #fff;}
.win-start-logo{display: inline-block;width: 20px;height: 20px;background-image: url(/static/image/desktop/icon-desktop.png);margin: 0 10px 0 20px;}
.win-start-list{width: 100%;height: 50px;display: flex;justify-content: left;align-items: center;cursor: default;}
.win-start-list:hover{background-color: rgba(100,100,100,0.8);}
.win-start-desc{margin-left: 10px;}
.win-start-link{color: #fff;}
.win-start-link:link, .win-start-link:active, .win-start-link:hover, .win-start-link:visited, .win-start-link:focus{color: #fff;text-decoration: none;}
.temporary-desktop-icon{position: fixed;width: 90px;opacity: 0.9;}
